:root{
    font-size: 62.5%;
}
.container{
    /* max-width: 120rem; */
    width: 70%;
    margin: 0 auto;
}
nav{
    border: 1px solid black;
    background-color: rgb(44, 44, 3);
    line-height: 3;
}
nav>h1{
    float: left;
}
nav>.items{
    float: right;
}